To ${user.label}

You have recieved a notification to answer questionnaire ${domainObject.label}
Please login in to answer the questionnaire. 

Regards
TalentScope Ltd.

[Note: This is an automated reply sent from Talent Studio, please do not respond]