*.ids
*.ipr
*.iws
*.iml
*.class
build
target
distribution
.idea
.ideaDataSources
dataSources
config-inspection.log
talent-studio-views/src/main/webapp/images/Thumbs.db
talent-studio-views/src/main/webapp/images/tree/Thumbs.db
talent-studio-views/src/main/webapp/images/objectives/Thumbs.db
*.db
