<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
    JDBC configuration for application
-->
<beans>

<!--========================== MAIL DEFINITIONS =========================-->

    <!-- jndi name for the mail server -->
    <bean id="mailSession" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="${mail.jndi.name}"/>
    </bean>

    <!-- mail sender with the jndi name lookup -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="session" ref="mailSession"/>
    </bean>
    
</beans>