.noprint {
	display: none;
}

td.content {
	border: none;
	background-image: none;
}

th.artefact, td.artefact {
	border: none;
	padding: 0px;
}

a, a:visited, a:active {
	text-decoration: none;
}

td.infoarea {
	background-color: white; 
	background-image: none;
}

td.footer {
	background-color: white;
}

table.tab_page_border {
	border: none;
}

table.infobox {
	border-style: none;
}

table.infotable, td.infoheading, td.infosubheading, td.infonarrative, td.infolabel, td.infodata, td.infobutton {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #9A9A9A;
}

.artefact td.tab_page {
	background-image: none;
	border: none;
}

table.pager, th.sorted, th.sortable, td.pager {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #9A9A9A;
}

table.crosstable, td.crosstabaxisheader,
		td.crosstabcolumnheader, td.crosstabrowheader,
		td.crosstabdata {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #9A9A9A;
}
