
To ${user.label}

Questionnaire ${domainObject.label} has been updated. Please login to view changes

#if ($url && $url != "")
Click to view your team ${url}
#end

Sent on behalf of
${from.label}.

[Note: This is an automated reply sent from Talent Studio, please do not respond]