/********************************************************************************/

/* Core (undecorated) properties */

html, body {
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
}

body {
    font-family: arial, helvetica, sans-serif;
    background-color: white;
    font-size: 13px;
}

h1 {
    padding: 10px 0 10px 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #004FAD;
    background-image: url( ../images/blue_line.jpg );
    background-repeat: no-repeat;
    background-position: bottom left;
}

h2 {
    padding: 10px 0 10px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #004FAD;
    background-image: url( ../images/blue_line.jpg );
    background-repeat: no-repeat;
    background-position: bottom left;
}

a, a:active, a:visited {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: darkred;
}

a.nav, a.nav:active, a.nav:visited {
	color: darkblue;
    cursor: pointer;
}

a.nav:hover {
	color: darkred;
}

a.clickableImage {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: middle;
}

hr {
    height: 2px;
}

table {
    font-size: 1em;
}

td {
    margin: 0;
    padding: 0;
}

th {
    padding: 2px 4px 2px 4px;
    text-align: left;
    vertical-align: top;
    background-color: #CCFFCC;
}

form {
    border: 0;
    padding: 0;
    margin: 0;
    display: inline;
}

input {
    color: black;
    font-size: 1em;
}

span.rangeMessage {
    vertical-align: top;
    color: green;
}

/* Used for checkbox and radio buttons to get vertical or horizontal alignment */

span.horizontalOptions {

    white-space: nowrap;
}

span.verticalOptions {
    white-space: nowrap;
    display: block;
}

/*
 * These input classes are required because IE does not understand the CSS2
 * selection by attribute mechanism, so all <input> tags should have the appropriate
 * class set.
 */

.read {
    font-weight: normal;
}

.unread {
    font-weight: bold;
}

.infodata .input_text {
    width: 220px;
}

.infodata .input_textarea {
    width: 260px;
}

.label_input_text {
    width: 80%;
}

.input_link, .input_password {
    width: 220px;
}
.input_select{
  width:200px;
}
.input_file {
    width: 350px;
}

.input_number {
    width: 90px;
}

.input_date {
    width: 100px;
}

.input_checkbox {
}

.input_radio {
}

input.partnerbutton {
    width: 20px;
}

textarea {
    font-family: arial, helvetica, sans-serif;
    display: block;
    font-size: 1em; /*width: 100%;*/
    text-align: justify;
    white-space: normal;
}

select {
    color: black;
    font-size: 1em;
}

fieldset {
    margin: 5px;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

legend {
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

ul {
    margin: 10px 10px 10px 40px;
    line-height: 1.3em;
}

/*****************************************************/
/* styles for draggable, selectable, droppable items */
/*****************************************************/

.control_buttons {
	float: left;
    margin:1px 5px 13px 0;
	padding-left:2px;
	padding-bottom: 1px;
	border:1px solid black;
	cursor: pointer;
}

.centered {
    margin-left: auto;
    margin-right: auto; 
}

.left {
    float:left;
    display:inline;
}

.right {
    float:right;
    display:inline;
}

.constrained {
    height: 150px;
    overflow: auto;
}

.contained {
	position:relative;
	display:block;
	border: none;
	width:100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

ul.ui-selectable {
    margin: 0 0 0 0;
    padding-top: 10px;
    overflow-y:scroll;
    height:200px;
}

.draggable {
	height:100%;
	width:100%;
	border: 1px solid black;
	position: absolute;
}

li.ui-selectable {
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    list-style-type: none;
    list-style-position: outside;
    text-align: left;
    border-color: lightslategray;
    border-style: outset;
    border-width: 1px;
    cursor: move;
}

li.ui-selected {
    margin: 1px 0 1px 0;
    padding: 1px 0 1px 0;
    list-style-type: none;
    list-style-position: inside;
    text-align: left;
}
ul.ui-selected {
    margin: 0 0 0 0;
    padding-top: 2px;
    list-style-position:inside;
}

/* list styles for objectives parent select field */
ul.selectable {
    margin: 0 0 0 0;
    background-color: #C7E3FF;
    padding-top: 10px;
}

li.hideable {
    list-style-type: none;
}

li.selectable {
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    list-style-type: none;
    list-style-position: outside;
    text-align: left;
    border-color: lightslategray;
    border-style: outset;
    border-width: medium;
    background: #9A9A9A;
    cursor: pointer;
}

.treeitem {
    list-style-type: none;
    list-style-image: none;
    margin: 0 0 0 0;
}

li.treebranchclosed {
    list-style-type: none;
    list-style-image: none;
    padding-left: 25px;
    background: transparent url( ../images/plus.gif ) no-repeat;
    background-position: 0 5px;
    cursor: pointer;
}

li.treebranchopen {
    list-style-type: none;
    list-style-image: none;
    padding-left: 25px;
    background: transparent url( ../images/minus.gif ) no-repeat;
    background-position: 0 5px;
    cursor: pointer;
}

.listspan {
    background-color: #C7E3FF;
    width: 100%;
}

/********************************************************************************/

/* Styles for header section at the top of the page */

.header-center {
    background-color: white;
    width: 100%;
}

.header-text {
    font-family: Arial Narrow, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #006180;
}

.header-left {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5px;
    height: 120px;
    width: 387px;
    background-repeat: no-repeat;
    background-image: url( ../images/TScope.rgb.jpg );
}

.header-right {
    background-image: url( ../images/TStudio.web.png );
    height: 101px;
    width: 309px;
    background-repeat: no-repeat;
}

/********************************************************************************/

/* Styles for footer at bottom of page */

td.footer {
    padding-top: 2px;
    padding-bottom: 3px;
    font-size: 0.9em;
    background-color: #F0E4BE;
    color: black;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #9A9A9A;
}

.copyright {
    padding-right: 10px;
    padding-left: 0;
}

.copyright a, .copyright a:visited {
    padding: 0;
    color: black;
}

.copyright a:hover {
    color: darkred;
}

.buildNo {
    position: absolute;
    padding-right: 10px;
    right: 0;
}

/********************************************************************************/

/* Styles for info section just below the page header */

td.infoarea {
    width: 100%;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #88BBEE;
    padding-top: 2px;
    padding-bottom: 3px;
    color: white;
    height: 2em;
    vertical-align: middle;
}

td.chartarea {
    padding: 3px 3px 3px 3px;
}

.userinfo {
    padding-left: 7px;
}

.infoctrl {
    position: absolute;
    right: 0;
    padding-right: 10px;
}

a.logout, a.logout:visited {
    color: white;
}

a.logout:hover {
    color: cyan;
}

/********************************************************************************/

/* Area for arena tabs */
td.userinfodata {
	padding-left: 170px;
	padding-top: 0;
	background-color: #88BBEE;
}

div.arenatabs {
    width: 100%;
    height:100%;
    background-color: #88BBEE;
    border-style: solid;
    border-width: 0 0 10px 0;
    border-color: #D5D5D5;
    padding-top: 3px;
    padding-left:0;
    margin-left:0;
    /*display:block;*/
}

div.loading {
    display: none;
    z-index: -100;
    text-align: center;
}

span.loading {
    text-align: center;
    width: 100%;
    display:block;
}

/********************************************************************************/

/* Arena Tab controls */

/* Main area containing tabs */

table.arena_tabbar {
    width: 100%;
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.arena_tabbar td {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #9A9A9A;
    padding: 0;
}

/* Space to the left of tabs */

td.arena_tabbar_left {
}

img.arena_tabbar_left {
    width: 15px;
}

/* Space between tabs */

td.arena_tabbar_space {
}

img.arena_tabbar_space {
    width: 5px;
}

/* Space to the right of tabs */

td.arena_tabbar_right {
    width: 100%;
}

/* Body of tab containing text */

td.arena_tab {
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    padding: 3px 6px 3px 6px;
}

td.arena_active_tab {
    border-style: outset;
    border-width: 3px 3px 0 3px;
    border-color: #D5D5D5;
    background-color: #D5D5D5;
    color: #444488;
}

td.arena_inactive_tab {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #9A9A9A;
    color: #666666;
}

td .arena_inactive_tab.hover {
    background-color: white;
}

td .arena_inactive_tab.no_hover {
    background-color: #EEEEEE;
}

.arena_inactive_tab a, .arena_inactive_tab a:visited {
    color: #666666;
    text-decoration: none;
}

.arena_inactive_tab a:hover {
    color: darkred;
}

/********************************************************************************/

/* General Tab controls */

/* Main area containing tabs */

table.tab_tabbar {
    width: 100%;
    border: none;
    padding: 0;
}

.tab_tabbar td {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #9A9A9A;
    padding: 0;
}

/* Space to the left of tabs */

td.tab_tabbar_left {
}

img.tab_tabbar_left {
    width: 15px;
}

/* Space between tabs */

td.tab_tabbar_space {
}

img.tab_tabbar_space {
    width: 5px;
}

/* Space to the right of tabs */

td.tab_tabbar_right {
    width: 100%;
}

/* Body of tab containing text */

td.tab_tab {
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    padding: 3px 6px 3px 6px;
    border-style: solid;
    border-color: #9A9A9A;
    color: #444488;
}

table.tab_tabbar td.tab_active_tab {
    border-width: 1px 1px 0 1px;
    background-color: white;
}

.tab_active_tab a, .tab_active_tab a:active, .tab_active_tab a:visited, .tab_active_tab a:hover {
    text-decoration: none;
    color: darkblue;
    cursor: text;
}

td.tab_inactive_tab {
    border-width: 1px 1px 1px 1px;
}

table.tab_tabbar .tab_inactive_tab.hover {
    background-color: gold;
}

table.tab_tabbar .tab_inactive_tab.no_hover {
    background-color: #EFEDED;
}

.tab_inactive_tab a, .tab_inactive_tab a:visited {
    color: #666666;
    text-decoration: none;
}

.tab_inactive_tab a:hover {
    color: darkred;
}

/* Surround of the tab page */

table.tab_page_border {
    width: 100%;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #9A9A9A;
}

td.tab_page_border {
    padding: 0;
}

/* The actual tab page */

table.tab_page {
    width: 100%;
}

td.tab_page {
    width: 100%;
    padding: 5px;
    background-color: white;
}

/********************************************************************************/

/* Main navigation menu */

td.navigation {
    width: 220px;
    vertical-align: top;
    background-color: #D5D5D5;
    margin-bottom:0;
    padding-bottom:0;
    margin-top:0;
    padding-top:0;
    height:100%;
}

div.navigation {
    width: 220px;
}

.arena_nav_span {    
	position: absolute;
    margin-left: 30px;    
}

.nav_manipulation {
    float: left;
    display: inline;
    vertical-align: bottom;
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;
    color: darkblue;
    text-decoration: underline;
}



.navigation_no_hover {
    color: darkblue;
}

.navigation_hover {
    background-color: lightyellow;
    color: red;
}

.navigation_active_item {
    background-color: red;
}

.navigation_main_item {
    /*white-space: nowrap;*/
    width: 220px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 10px;
    padding-bottom: 4px;
    cursor: pointer;
    font-weight: bold;
}

.navigation_sub_item {
    /*white-space: nowrap;*/
    padding-left: 25px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
    font-size: 0.9em;
}

dl.menuDescription {
    padding-left: 30px;
}

.menuDescription dt {
    font-weight: bold;
    padding-top: 20px;
}

.menuDescription dd {
    padding-top: 5px;
    color: DarkGreen;
}

/********************************************************************************/

/* Main content area */

td.content {
    border-style: ridge;
    border-width: 2px 0 0 2px;
    background-color: white;
    padding: 5px;
    vertical-align: top;
    width:100%;
}

td.content#nonav {
    border-width: 0 0 0 0;
    vertical-align: middle;
    text-align: center;
}

/********************************************************************************/

/* styles for questionnaires*/

.questionRadioBlock {
    margin: 3px;
    padding: 1px;
}

.radioButton {
    float: left;
    display: inline;
    white-space: nowrap;
    position: relative;
}

.radioText {
    clear: left;
    white-space: normal;
    text-indent: 2em;
}

.max {
    width: 100%;
    border: none;
}

/********************************************************************************/

/* Header above tabbed person and position displays showing artefact name */

table.artefact {
    width: 100%;
    border-collapse: collapse;
}

th.artefact {
    background-color: #EEEEFF;
    padding: 2px;
    font-weight: bold;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px 1px 0 1px;
}

td.artefact {
    background-color: #EEEEFF;
    padding: 5px;
    border-style: solid;
    border-color: lightgray;
    border-width: 0 1px 1px 1px;
}

/********************************************************************************/

/* Infobox */

table.infobox {
    width: 100%;
    background-color: #9A9A9A;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

table.infobox#ib_policy {
    width: 70%;
}

table.infobox#ib_nonav {
    width: 0;
}

th.infobox {
    background-color: #FFFFCC;
    padding: 3px 3px 3px 10px;
}

div.infobox {
    background-color: #CCCCCC;
    padding: 3px 3px 3px 10px;
    margin: 10px 3px 3px 3px;
    width: 100%;
    height: 10px;
    font-weight: bold;
}

.table_infobox {
    display: block;
    padding: 2px 2px;
    width: 100%;
    height: 8px;
    font-weight: bold;
    background-color: #BBD6E5;
}

td.infobox {
    background-color: #EFEDED;
    padding: 5px;
}

.heading {
    text-align: center;
    font-weight: bold;
    color: #004FAD;
    padding-bottom: 5px;
}

span.wizardHeading {
    color: #708070;
    font-weight: normal;
    text-decoration: none;
}

span.wizardHeadingActive {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.policy {
    vertical-align: top;
    font-style: oblique;
    color: darkblue;
}

.policystatement {
    width: 75%;
    height: 250px;
    overflow: auto;
    margin-bottom:8px;
    text-align:justify;
}

.policyheader {
    font-weight: bold;
    color: #004FAD;
    margin: 0 0 5px 0;
    padding: 5px 5px 5px 5px;
    border: solid 1px lightblue;
    background-color: #ddffff;
}

/********************************************************************************/

/* Styles used for executive summary area for Poeple */

table.exec {
    width: 100%;
}

td.execSummary {
    padding: 0;
    vertical-align: top;
}

td.execImg {
    padding: 0 5px 0 0;
    vertical-align: top;
    width: 1px;
}

img.execImg {
    width: 100px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

img.clickable {
    cursor: pointer;
}

div#noPhotograph {
    padding-top: 15px;
    font-weight: bold;
    font-size: 1.0em;
    text-align: center;
    text-shadow: black 0 0 5px;
    word-spacing: 1em;
    vertical-align: middle;
    width: 100px;
    height: 110px;
    background-color: #88FFFF;
}

/********************************************************************************/

/* Tables of information */

.infotable {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    background-color: #EEEEFF;
}

td.infogroup {
    padding: 0 0 0 10px;
}

.infoheading {
    padding: 10px;
    vertical-align: top;
    font-weight: bold;
    color: green;
    background-color: #DDDDFF;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.infosubheading {
    padding: 5px;
    vertical-align: top;
    color: white;
    background-color: #88bbee;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-weight: bold;
}

.infonarrative {
    padding: 5px;
    vertical-align: top;
    color: green;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.infolabel {
    padding: 5px;
    vertical-align: top;
    white-space: nowrap;
    color: darkblue;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.questionlabel {
    padding: 5px;
    vertical-align: top;
    color: darkblue;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    width:30%;
}

.small {
    width:10%;
}

.infodata {
    padding: 5px;
    vertical-align: top;
    color: black;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.appraisalcalc {
    padding: 5px;
    border-style: solid;
    border-color: black;
}

.appraisalque {
    padding: 5px;
    border-style: solid;
    border-color: gray;
}

.infodata .deleteButton {
    cursor: pointer;
}

.questiondata {
    padding: 5px;
    vertical-align: top;
    color: black;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.infomessage {
    font-weight: bold;
    color: #004FAD;
    margin: 0 0 5px 0;
    padding: 5px 5px 5px 5px;
    border: solid 1px lightblue;
    background-color: #ddffff;
}

.infobutton {
    padding: 1px;
    vertical-align: top;
    color: black;
    background-color: #DDDDFF;
    border-style: solid;
    border-color: white;
    border-width: 2px 0 2px 0;
}

.actionButton {
    border-style: none;
}

.attributeStatus {
    color: Maroon;
    font-style: oblique;
}

div.blogContent {

    overflow: auto;
    background-color: white;
    height: 60px;
    width: 90%;
    border-style: solid;
    border-color: #D5D5D5;
    float: left;
}

div.comments {

    overflow: auto;
    background-color: white;
    height: 250px;
    width: 150px;
    border-style: solid;
    border-color: #D5D5D5;
    float: left;
}

div.verticalScroll {
    position: relative;
    overflow-y: visible;
}

/********************************************************************************/

/* Actionbox */

table.actionbox {
    width: 100%;
    background-color: black;
    padding: 0;
    margin: 0 0 10px 0;
    border-style: solid;
    border-color: #9A9A9A;
    border-width: 1px 1px 1px 1px;
}

td.actionbox {
    background-color: #EEEEEE;
    padding: 1px 5px 1px 5px;
    font-weight: bold;
}

input.actionbutton {
    margin-right: 10px;
    color: darkred;

}

input.navbutton {
    font-weight: bold;
    color: darkred;
}

/********************************************************************************/

/* User for buttons that appear in a form (all buttons that are not action buttons) */

input.inlinebutton {
    font-weight: bold;
    cursor: pointer;
    color: darkred;
    padding: 3px;
    margin: 3px;
}

input.partnerbutton {
    cursor: pointer;
    color: darkred;
}

/********************************************************************************/

/* Used for "style buttons" on the CSS style editor page */

td.stylebutton {
    background-color: #9A9A9A;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 2px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9em;
    font-weight: bold;
}

a.stylebutton {
    color: darkblue;
}

a.stylebutton:visited {
    color: darkred;
}

a.stylebutton:hover {
    color: white;
}

/********************************************************************************/

/* Error displays */

.error {
    color: red;
    font-weight: bold;
    font-style: oblique;
}

td.infobox .error {
    display: block;
    margin: 0 0 5px 0;
    padding: 5px 5px 5px 5px;
    border: solid 1px pink;
    background-color: #ffe8ff;
}

td.infodata .error {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

/********************************************************************************/

/* Styles used by portfolio searches */

.autonomyResults {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
}

hr.searchresults {
    margin-top: 20px;
    margin-bottom: 10px;
    border-color: white;
}

/********************************************************************************/

/* Styles used by the pagable tables and tabular reports */

table.pager {
    border-collapse: collapse;
    border: 1px solid #9A9A9A;
    width: 100%;
    margin: 0 0 0 0;
}

table.tablesorter {
    width: 100%;
    margin: 0 0 0 0;
}

table.tablesorter thead tr .header {
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	/*background-image: url(../images/asc.gif);*/
}
table.tablesorter thead tr .headerSortDown {
	/*background-image: url(../images/desc.gif);*/
}

table.pager4 {
	border-collapse: collapse;
    border: 1px solid #9A9A9A;
    width: 100%;
    margin: 0 0 0 0;
	table-layout: fixed;
}

td.pager {
    padding: 2px 4px 2px 4px;
    text-align: left;
    vertical-align: top;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

/*th.sorted {*/
/*}*/

th.sorted, th.sortable {
    padding: 4px 4px 4px 4px;
    background-repeat: no-repeat;
    background-position: right;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

th.sortable {
    background-image: url( ../images/arrow_off.png );
}

tr.odd {
    background-color: #F0F0F8;
}

tr.even {
    background-color: #F8F0F0;
}

tr.group {
    background-color: wheat;
}

.group td {
    border-bottom: 0;
    background-color: #BBD6E5;
}

span.pagebanner {
    text-align: center;
    display: block;
    padding: 0 0 10px 0;
}

span.pagelinks {
    text-align: center;
    display: block;
    padding: 0 0 10px 0;
}

/********************************************************************************/

/* Styles used by popups */

div.popup {
    display: none;
    z-index: +1000;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #DDDDDD;
    border-style: outset;
    border-width: medium;
    border-color: lightgray;
    padding: 2px;
    overflow: visible;
}

iframe.popupIframe {

    display: none;
    z-index: +97;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

iframe.homepage {
    border: none;
    width: 100%;
    height: 100%;
}

tr.popupTitle {
    background-color: pink;
}

td.popupTitle {
    font-weight: bold;
    padding: 2px 0 2px 4px;
    cursor: move;
}

td.popupControls {
    text-align: right;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
}

td.calendarPopupControls {
    text-align: right;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
}

.calendarPopupControl {
    border-color: white;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
}

.calendarPopupControlOver {
    border-color: gray;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
}

.popupControl {
    border-color: white;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
    float: right;    
}

.popupControlOver {
    border-color: gray;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
    float: right;
}

td.popupContent {
    padding-top: 2px;
}

td.colourPickerCell {
    width: 8px;
    height: 8px;
    cursor: pointer;
}

.colourPickerDisp {
    border: inset 2px gray;
    text-align: center;
    background-color: gray;
    color: black;
    font-weight: bold;
}

/********************************************************************************/

/* Styles used by Calendar popup */

/* Attributes used in calendar controls (month, year next and prev). */

td.CalControls {
    padding: 4px 0 6px 0;
    white-space: nowrap;
}

/* Normal appearance of calendar controls */

.CalControl {
    padding: 1px 1px 2px 2px;
    border-style: outset;
    border-width: 2px;
    border-color: white;
    cursor: pointer;
}

/* Moused-over appearance of controls */

.CalControlOver {
    padding: 1px 1px 2px 2px;
    border-style: outset;
    border-width: 2px;
    border-color: gray;
    cursor: pointer;
}

/* Attributes of the div containing the year and month popups */

.CalPopup {
    z-index: +99;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 3px;
    border-style: outset;
    border-color: white;
    background-color: white;
    cursor: pointer;
}

/* Attributes of items in drop down lists (month and year). */

.CalDropdownNormal {
    padding: 1px 4px 1px 4px;
}

.CalDropdownSelect {
    padding: 1px 4px 1px 4px;
    background-color: lightgreen;
}

/* Attributes of calendar body (weekday titles and numbers). */

.CalBody {
    padding: 0;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

/* Attributes of day names at top of calendar body */

.CalDayName {
    background-color: lightgray;
    width: 25px;
    padding: 1px 2px 1px 2px;
    text-align: center;
}

/* Attributes of mouseover item in calendar body. */

.CalSelect {
    cursor: pointer;
    background-color: lightgreen;
    text-align: center;
}

/* Attributes of unselected item in calendar body. */

.CalNormal {
    cursor: pointer;
    text-align: center;
}

/* Attributes of all days in calendar body. */

.CalNormalDay, .CalCurrentDay {
    padding: 0 4px 0 4px;
}

.CalCurrentDay {
    border-style: solid;
    border-width: 0 2px 0 2px;
    border-color: green;
}

/* Attributes of today display at bottom on calendar */

td.CalToday {
    padding: 2px;
    color: black;
    text-align: center;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: gray;
}

a.CalToday {
    color: black;
}

/********************************************************************************/

/* Styles used by server controlled tree display */

div.serverTreeRow {
    white-space: nowrap;
}

.serverTreeFolder {
    cursor: pointer;
    vertical-align: top;
    text-decoration: none;
}

a.serverTreeItem {
    cursor: pointer;
}

/********************************************************************************/

/* Styles used by JavaScript controlled tree display */

body.serverPopup {
    background-color: whitesmoke;
}

iframe.serverPopup {
    border-style: none;
    height: 100%;
    width: 100%;
}

.popupScrollArea {
    padding: 5px;
    white-space: nowrap;
}

.clientScrollArea {
    overflow: auto;
}

.popupTreeArea {
    background-color: whitesmoke;
    border-style: inset;
    border-width: thin;
    border-color: lightgray;
    height: 100%;
    width: 100%;
}

div.treeLevel {
    display: none;
    margin: 0;
}

div.treeLevelOpen {
    display: inline;
    margin: 0;
}

div.treeItem {
    margin: 0;
}

.open {
    display: inline;
}

.closed {
    display: none;
}

span.treeFolder {
    cursor: pointer;
}

a.treeItem {
    vertical-align: top;
    padding-left: 0;
}

a.treeCurrentItem {
    background-color: #66ff99;
}

/********************************************************************************/

/* styles used by the org chart browser */

table.OrgChart {
    text-align: center;
}

table.OrgChartBox {
    border-style: ridge;
    border-width: thin;
    border-color: gray;
    margin-left: 10px;
    margin-right: 10px;
}

th.OrgChartBox {
    text-align: center;
    white-space: nowrap;
    padding: 5px;
    background-color:pink;
}

th.OrgChartParentBox {
    text-align: center;
    white-space: nowrap;
    padding: 5px;
    background-color:lightblue;
}

td.OrgChartBox {
    padding: 5px;
    background-color: white;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 0 0 0;
}

img.OrgChartEntry {
    margin-right: 10px;
}

img.OrgChartPicEntry {
    width:18px;
    height:18px;
    margin-right: 10px;
}

img.OrgChartLine {
    vertical-align: baseline;
}

span.OrgChartEntry {
    text-align: center;
    vertical-align: middle;
}

div.OrgChartColoured {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px 0 2px 0;
}

.OrgChartAssocLabel {
    background-color: white;
    font-weight: bold;
}

span.OrgChartAttrLabel {
    font-weight: bold;
}

span.OrgChartAttr {
    font-style: oblique;
}

/********************************************************************************/

/* Styles for Cross-tab reports */

table.crosstabtable {
    width: 100%;
    border: 1px solid #9A9A9A;
    border-collapse: collapse;
    padding: 0;
    background-color: #EEEEFF;
}

table.crosstabnav {
    width: 100%;
    text-align: left;
    padding: 0;
    vertical-align: bottom;
}

td.crosstabaxisheader {
    text-align: center;
    vertical-align: top;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    font-size: 1.1em;
}

td.crosstabcolumntitle {
    padding: 10px;
    text-align: right;
    background-color: #CCFFCC;
}

td.crosstabrowtitle {
    padding: 10px;
    text-align: left;
    background-color: #DDFFDD;
}

td.crosstabcolumnheader {
    padding: 10px;
    text-align: center;
    vertical-align: top;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: #CCFFCC;
    font-weight: bold;
}

td.crosstabrowheader {
    padding: 10px;
    text-align: left;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: #DDFFDD;
    font-weight: bold;
}

.summarytable {
    font-weight: bold;
    background-color: #BBD6E5;
    width: 50%;
}

.summarydata {
    text-align: left;
    font-weight: bold;
    background-color: #BBD6E5;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 50%;
}

.summarylabel {
    text-align: left;
    font-weight: bold;
    background-color: #BBD6E5;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 50%;
}

td.crosstabdata {
    height: 100%;
    vertical-align: top;
    padding: 10px;
    text-align: center;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

table.crosstabdetail {
    width: 100%;
    border-style: none;
    border-width: 0;
}

td.crosstabcell {
    vertical-align: top;
}

td.crosstabnavcell {
    width: 100%;
    white-space: nowrap;
    padding: 10px 0 0 0;
    vertical-align: bottom;
}

/* the style for the crosstab cell label */
.crosstabcelllabel {

}

/* the style for the crosstab cell number/percent results */
.crosstabcelldata {

}

img.drilldown {
    float: left;
    height: 20px;
    width: 20px;
}

img.more {
    float: left;
    height: 9px;
    width: 9px;
    padding: 0 8px 0 0
}

/********************************************************************************/

/* Styles for tabular reports */

.reportColourPicker {
    background-color: #EEEEFF;
    border-style: inset;
    border-width: thin;
    border-color: lightgray;
    height: 15em;
    width: 25em;
    z-index: 2;
}

img.colorcell {
    border: 1px solid gray;
    width: 15px;
    height: 15px;
}

/* This should be 'th' but Jasper uses 'td' ! */

td.columnheader {
    font-weight: bold;
    margin: 0 0 5px 0;
    background-color: #CCFFCC;
    padding: 4px 4px 4px 4px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

td.dataCell {
}

td.emptyCell {
    background-color: white;
}

/************************************************************************************************/

/************************************************************************************************/
/********** Floating window styles from html goodies need to be sorted with ours ****************/
/************************************************************************************************/
.dhtmlgoodies_window {
    width: 300px;
    position: absolute;
    overflow: hidden;
    z-index: +1000;
    display: none;
    top: 0;
    left: 0;
    background-color: #DDDDDD;
    border-style: outset;
    border-width: medium;
    border-color: lightgray;
    padding: 2px;
}

.dhtmlgoodies_window div {
    position: relative;
}

.dhtmlgoodies_window .dhtmlgoodies_window_top {
    width: 100%;
    height: 35px;
    position: relative;
    background-color: #B1C2CA;
    border-style: solid;
    border-color: darkgray;
    border-width: 3px;
}

.dhtmlgoodies_window .top_buttons {
    float: right;
    z-index: 10;
    position: absolute;
    right: 0;
    width: 150px;
}

.top_buttons {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.controls {
    float: right;
    margin-top: 0;
    margin-bottom: 10px;
}

.dhtmlgoodies_windowMiddle {
    border-left: 3px solid #B1C2CA;
}

.clearPopupControl {
    border-color: white;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
    /*position: relative;*/
    top: 15px;
    /*right: 33px;*/
    float: right;
    font-weight: bold;
}

.ipadImgControls {
    top: 4px;
    float:left;
}

.inlineImg {
    top: 4px;
    cursor:pointer;
    margin: 4px 4px 0 2px;
}

.imagePopupControl {
    border-color: white;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
    position: relative;
    top: -12px;
    float: right;
}

.imagePopupControlOver {
    border-color: gray;
    border-width: 2px;
    border-style: outset;
    cursor: pointer;
    position: relative;
    top: -12px;
    float: right;
}

.dhtmlgoodies_windowContent {
    padding-left: 5px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 3px solid #B1C2CA;
    border-left: 3px solid #B1C2CA;
    height: 22em;
    overflow: scroll;
    background-color: #FFF;
}

.dhtmlgoodies_window_bottom {
    padding-top: 15px;
    border-left: 3px solid #B1C2CA;
    border-right: 3px solid #B1C2CA;
    border-bottom: 3px solid #B1C2CA;
    position: relative;
    background-color: #FFF;
    height: 0;
}

.dhtmlgoodies_window_bottom img {
    float: right;
}

.topCenterImageOver {
    position: absolute;
    left: 3px;
    height: 100%;
    width: 100%;
    padding-bottom: 2px;
    cursor: move;
    font-weight: bold;
    text-indent: 5px;
    margin: 0;
}

.resizeImage {
    position: absolute;
    right: 1px;
    bottom: 1px;
    cursor: nw-resize;
}

.closeButton {
    cursor: pointer;
}

.bordered {
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 1px;
    border-color: black;
    border-style: groove;
    margin-bottom: 10px;
}

.hiddenElem {
    display: none;
}

.fullScreen {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.inlineFrame {
    width: 80%;
    height: 50%;
    overflow: auto;
    border: none;
}

iframe.dashboard {

    width:100%;
    height:100%;
    overflow: hidden;
    border: none;
}

.text_external {
    font-style:italic;
    font-weight:bold;
}

.button {
    text-decoration: none;
    align-items: flex-start;
    text-align: center;
    color: buttontext;
    padding: 1px 0 1px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    -webkit-appearance: push-button;
    -webkit-user-select: none;
    white-space: pre;
}

td.nowrap {
    white-space: nowrap;
}

img.square-20 {
    width: 20px;
    height: 20px;
}

.question_text {
    width: 95%;
}

.question_date {
    width:90%;
}
.question_textarea {
    width:95%;
}
.question_table {
    width:100%;
    table-layout:fixed;
}
/*============================================ reporting chart styles =====================================================*/

