To ${user.label}

You have recieved a notification in your TalentStudio to-do list.
Please login in to fill in the appraisal ${domainObject.label}

#if ($url && $url != "")
Click here to go to your to-do list ${url} 
#end

Regards
Talent Management Evolution, Inc.

[Note: This is an automated reply sent from TalentEvolution, please do not respond]