body {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
}
h1 {
	margin: 3px;
	padding: 3px;
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	color: #36597a;
}
h2 {
	font-size: 11px;
	font-style: italic;
	font-family: verdana, arial, sans-serif;
	color: #0058b0;
}

a, a:active, a:visited {
	color: blue;
}

a:hover {
	color: #086980;
}

th {
	background-color: #ffb366;
	color: #36597a;
}

input {
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
}

span.userinfo {
	padding-left: 150px;
}

td.footer {
	font-size: 0.8em;
	color: white;
	background-color: #636563;
	border: none;
	padding: 5px 10px 5px 120px;
}

.copyright a, .copyright a:visited {
	text-decoration: none;
	color: white;
}

.copyright a:hover {
	color: yellow;
	text-decoration: underline;
}

td.infoarea {
	font-size: 1em;
	background-color: #C9DFFF; 
	padding-left: 140px;
	color: white;
}

a.logout, a.logout:visited {
	color: white;
}

a.logout:hover {
	color: red;
}

td.userinfodata {
    font-size: 12px;
    font-weight: bold;
    background-color: #589AFF;
    padding-left: 500px;
    color: #FFFFFF;
}

div.arenatabs {
	background-color: #589AFF;
	background-image: url(../images/TStudio.web_rev.png);
	background-repeat: no-repeat;
	border-width: 0px;
	border-color: #004fad;
	padding-top: 71px;
	padding-bottom: 0px;
    width:100%;
}

div.blogContent {
    width: 350px;
}

.arenbar td {
	background-color: #663366;
	border-width: 0px;
	padding: 3px;
}

td.arena_tabbar_left {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: white;
}

img.arena_tabbar_left {
	width: 140px;
}

img.OrgChartPicEntry {
    width: 36px;
    height: 36px;
}

td.arena_tabbar_space {
	padding: 0px;
}

img.arena_tabbar_space {
	width: 0px;
}

table.arena_tabbar td.arena_active_tab {
	border-style: solid;
	border-width: 1px 0px 0px 1px;
	border-color: #ffb366;
	background-color: #ffb366;
	color: black;
	padding: 5px 10px 5px 10px;
}

td.arena_inactive_tab {
	border-width: 1px 0px 1px 1px;
	border-color: #99C2FF;
	color: white;
	padding: 5px 10px 5px 10px;
}

td.arena_inactive_tab.hover {
	background-color: #ffb366;
	border-color: #ffb366;
	color: white;
}

td.arena_inactive_tab.no_hover {
	background-color: #99C2FF;
	color: black;
}

.arena_inactive_tab a, .arena_inactive_tab a:visited {
	color: #000000;
}

.arena_inactive_tab a:hover {
	color: black;	
}

td.tab_tabbar_space {
	padding: 0px;
}

img.tab_tabbar_space {
	width: 0px;
}

table.tab_tabbar td.tab_active_tab {
	border-width: 0px 1px 0px 0px;
	border-color: white;
	background-color: #59b337;
	color: #36597a;
	padding: 5px 10px 5px 10px;
}

.tab_active_tab a, .tab_active_tab a:visited {
	color: #36597a;
}

.tab_active_tab a:hover {
	color: #36597a;	
}

td.tab_inactive_tab {
	border-width: 0px 1px 0px 0px;
	border-color: white;
	color: #36597a;
	padding: 5px 10px 5px 10px;
}

table.tab_tabbar .tab_inactive_tab.hover {
	background-color: #59b337;
}

table.tab_tabbar .tab_inactive_tab.no_hover {
	background-color: #052d92;
}

.tab_inactive_tab a, .tab_inactive_tab a:visited {
	color: #36597a;
}

.tab_inactive_tab a:hover {
	color: #36597a;	
}

td.navigation {
	background-color: #C9DFFF;
	white-space: nowrap;
}

div.navigation {
	margin: 0px 0px 0px 10px;
	background-color: #C9DFFF;
	padding: 20px 0px 20px 10px;
}

.nav_manipulation {
    float: left;
	display: inline;
	vertical-align: bottom;
	margin-left: 0pt;
	padding-left: 33px;
	padding-top: 10pt;
	cursor: pointer;
	color: white;
	text-decoration: underline;
}

.navigation_no_hover {
	background-color: #C9DFFF;
	color: #000000;
}

.navigation_hover {
	background-color: #ffb366;
	color: black;
}

.navigation_main_item {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	border-color: #C9DFFF;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	padding: 5px 5px 5px 10px;
}

.navigation_sub_item {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	border-color: #C9DFFF;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	padding: 5px 5px 5px 25px;
}

td.homecontent {
	border: none;
	padding: 20px 5px 5px 10px;
    vertical-align:top;
}

th.artefact {
	background-color: #eff2f9;
	margin-bottom: 10px;
	border-width: 1px;
	border-color: grey;
}

th.artefact .infotable {
	background-color: #eff2f9;
}

td.artefact {
	background-color: white;
	border: none;
	padding: 10px 0px 0px 0px;
}

table.infobox {
	background-color: white;
}

th.infobox {
	background-color: #FFFFFF;
	margin: 3px; 
	padding: 3px;
	font-family: calibri;
	font-size: 150%;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
}

td.infobox {
	background-color: #FFFFFF;
	padding: 10px;
}

table.infotable {
	background-color: #f3f3f3;
	border-color: #c3c3c3;
	border-width: 1px;
}

.heading {
    color: black;
    background-color: #cccccc;
    text-align: justify;
    margin: 3px;
    padding: 5px 3px 5px 3px;
}

.infoheading {
	border-color: #c3c3c3;
	border-width: 1px;
	padding: 5px;
	color: black;
	background-color: #e7e7e7;
}

.infosubheading {
	border-color: #c3c3c3;
	border-width: 1px;
}

.infonarrative {
	border-color: #c3c3c3;
	border-width: 1px;
	color: black;
}

.infolabel {
	border-color: #c3c3c3;
	border-width: 1px;
	color: black;
}

.questionlabel {
	border-color: #c3c3c3;
	border-width: 1px;
    color: black;
}

.infodata {
    border-color: #c3c3c3;
    border-width: 1px;
}

.questiondata {
    border-color: #c3c3c3;
    border-width: 1px;
}

.infobutton {
	background-color: #f3f3f3;
	border-color: #c3c3c3;
	border-width: 1px;
}

table.actionbox {
	border-style: none;
}

td.actionbox {
	background-color: white;
	padding: 2px 2px 2px 2px;
}

input.actionbutton {
	border: none;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	padding: 1px;
	margin: 0px 3px 0px 0px;
	color: #C73B0B;
	background-color: white;
}

input.inlinebutton {
	font-weight: normal;
	color: black;
	padding: 1px;
}

input.partnerbutton {
	color: black;
}

table.pager {
	border-width: 0px;
	border-color: #c3c3c3;
}

table.pager4 {
    border-width: 0px;
    border-color: #c3c3c3;
    table-layout: fixed;
}

th.sorted , th.sortable	 {
	border-color: #c3c3c3;
	border-width: 1px;
}

td.pager {
	padding: 5px;
	border-width: 0px 1px 1px 1px;
	border-color: #c3c3c3;
    width:25%;
}

td.pager4 {
    padding: 5px;
    border-width: 0px 1px 1px 1px;
    border-color: #c3c3c3;
    width: 25%;
}

tr.odd {
	background-color: #FAEDBB;
}

tr.even {
	background-color: #FAEDBB;
}

table.crosstabtable {
}

td.crosstabaxisheader {
      border-collapse: collapse;
	background-color: #E2E2E2;
}

td.crosstabcolumntitle {
	background-color: #F8E598;
	border-collapse: collapse;
}

td.crosstabrowtitle {
	border-collapse: collapse;
	background-color: #F8E598;
}

td.crosstabcolumnheader {
	background-color: #F8E598;
}

td.crosstabrowheader {
	color: #000000;
	background-color: #F8E598;
}

td.crosstabdata {
	height:100%;
	vertical-align: top;
	padding: 10px;
	text-align: center;
	border-color: #C3C3C3;
	border-style: solid;
	border-width: 1px;
	background-color: #FAEDBB;		
}

td.columnheader {
	background-color: white;
	color: #36597a;
	border-color: #c3c3c3;
	border-width: 1px;
}

.group td {
	border-bottom: 0px;
        background-color: #FAEDBB;
}

tr.body-background {
    background-color: #589AFF;
}

/********************************************************************************/

/* General Tab controls */

/* Main area containing tabs */

table.tab_tabbar {
	width: 100%;
	border: none;
	padding: 0px;
}

.tab_tabbar td {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #9A9A9A;
	padding: 0px;
}

/* Space to the left of tabs */

td.tab_tabbar_left {
}

img.tab_tabbar_left {
	width: 15px;
}

/* Space between tabs */

td.tab_tabbar_space {
}

img.tab_tabbar_space {
	width: 5px;
}

/* Space to the right of tabs */

td.tab_tabbar_right {
	width: 100%;
}

/* Body of tab containing text */

td.tab_tab {
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	padding: 3px 6px 3px 6px;
	border-style: solid;
	border-color: #9A9A9A;
	color: #086980;
}

table.tab_tabbar td.tab_active_tab {
	border-width: 1px 1px 0px 1px;
	background-color: white;
       border-color: #9A9A9A;
}

.tab_active_tab a, .tab_active_tab a:active, .tab_active_tab a:visited, .tab_active_tab a:hover {
	text-decoration: none;
	color: 086980;
	cursor: text;
}

td.tab_inactive_tab {
	border-width: 1px 1px 1px 1px;
}

table.tab_tabbar .tab_inactive_tab.hover {
	background-color: white;
}

table.tab_tabbar .tab_inactive_tab.no_hover {
	background-color: #EFEFEF;
}

.tab_inactive_tab a, .tab_inactive_tab a:visited {
	color: black;
	text-decoration: none;
}

.tab_inactive_tab a:hover {
	color: 086980;	
}

/* Surround of the tab page */

table.tab_page_border {
	width: 100%;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #9A9A9A;
}

td.tab_page_border {
	padding: 0px;
}

tr.popupTitle {
	background-color: #B1C2CA;
}

/********************************************************************************/
/* redefine width to be longer than default for Development Suggestions input */
textarea {
    font-family: arial, helvetica, sans-serif;
    display: block;
    font-size: 1em; /*width: 100%;*/
    width: 500px;
    text-align: justify;
    white-space: normal;
}

.infomessage {
	border-top-color: #FAEDBB;
	border-right-color: #FAEDBB;
	border-bottom-color: #FAEDBB;
	border-left-color: #FAEDBB;
	background-color: #FAEDBB;
}

.table_infobox {

	background-color: #7092be;
}

.ui-widget-content { border: 1px solid #99c2ff; background: #F3F3F3; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #99c2ff; background: #99c2ff; color: #333333; font-weight: bold; }
.ui-widget-header a { color: #333333; }

/* front logo to go in main after re-branding */
.header-left {
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 5px;
	height: 120px;
	width: 500px;
	background-repeat: no-repeat;
	background-image: none;
}

.header-text {
    font-family: Arial Narrow, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 4em;
    text-transform: none;
    text-align: center;
    font-weight: bold;
    color: #636563;
}

.header-right{
    background-image: url(../images/TStudio.web.png);
}


/* npc - overall table*/
table.crosstabtable {
width: 60%;
}

/* npc - axis label areas */
td.crosstabaxisheader {
      border-collapse: collapse;
      background-color: #C3C3C3;
      width: 30%;
}

/* npc */
/* the style for the crosstab cell label */
.crosstabcelllabel {
text-align: center;
font-weight: bold;
}

/* the style for the crosstab cell number/percent results */
.crosstabcelldata {
font-weight: bold;
font-size: 2em;
}
