body
{
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
}

h1
{
	margin: 3px;
	padding: 3px;
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	color: #006F96;
}

h2
{
	font-size: 11px;
	font-style: italic;
	font-family: verdana, arial, sans-serif;
	color: #0058b0;
}

a, a:active, a:visited {
	color: #006F96;
}

a:hover {
	color: #006F96;
}

th {
	background-color: #FFFFFF;
	color: #006F96;
}

input {
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
}

span.userinfo {
	/*padding-left: 150px;*/
	/*text-align: center;*/
}

td.footer {
	font-size: 0.8em;
    	color: #006f96;
	background-color: #FFFFFF;
	border: none;
	padding: 5px 10px 5px 120px;
}

.copyright a, .copyright a:visited {
	text-decoration: none;
	color: #006f96;
}

.copyright a:hover {
	color: #006f96;
	text-decoration: underline;
}

td.infoarea {
	font-size: 1em;
	background-color: #9ECEFF;
	text-align: center;
	color: #FFFFFF;
}

a.logout, a.logout:visited {
	color: #FFFFFF;
}

a.logout:hover {
	color: #FFFFFF;
}

div.arenatabs {

	background-color: #9ECEFF;
	background-image: url(../images/nhs_logo.JPG);
	background-position: 100% 0;
	background-repeat: no-repeat;
	border-width: 0px 0px 0px 0px;
	border-color: #9ECEFF;
	padding-left: 33px;
	padding-top: 71px;
	padding-bottom: 0px;
	
}


div.loading	{
	background-color: #9ECEFF;
	text-align: center;
	color: #FFFFFF;
}

.nav_manipulation {
    float:left;
    display:inline;
    vertical-align:bottom;
    margin-left:0;
    padding-left:35px;
    /*padding-bottom: 10px;*/
    cursor:pointer;
    color:#FFFFFF;
    text-decoration:underline;
    /*border-style: solid;*/
    /*border-width: 0 0 1px 0;*/
    /*border-color: #006F96;*/
}

.arenbar td {
	background-color: #FFFFFF;
	border-width: 0px;
	padding: 3px;
}

td.arena_tabbar_left {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: #0000FF
}

td.arena_tabbar_right {
	padding-top: 0px;
	padding-bottom: 10px;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: #FFFFFF;
}

img.arena_tabbar_left {
	width: 140px;
}

td.arena_tabbar_space {
	padding: 0px;
}

img.arena_tabbar_space {
	width: 0px;
}

table.arena_tabbar td.arena_active_tab {
	border-style: solid;
	border-width: 1px 1px 0px 0px;
	border-color: #0000FF;
	background-color: #9ECEFF;
	color: #FFFFFF;
	padding: 5px 10px 5px 10px;
}

td.arena_active_tab {
    border-style: outset;
    border-width: 3px 3px 0 3px;
    border-color: #0000FF;
    background-color: #9ECEFF;
    color: #FFFFFF;
}

td.arena_inactive_tab {
	border-width: 1px 1px 1px 0px;
	border-color: #0000FF;
	background-color: #FFFFFF;
	color: #0000FF;
	padding: 5px 10px 5px 10px;
}

td.arena_inactive_tab.hover {
	background-color: #9ECEFF; 
	/*color: #3B73B9;*/
}

td.arena_inactive_tab.no_hover {
	background-color: #FFFFFF;
	/*color: #FFFFFF;*/
}

.arena_inactive_tab a, .arena_inactive_tab a:visited {
	color: #006f96;
	
}

.arena_inactive_tab a:hover {
	color: #FFFFFF;
}

.arena_active_tab a:visited {
	color: #FFFFFF;
}

td.tab_tabbar_space {
	padding: 0px;
}

img.tab_tabbar_space {
	width: 0px;
}

table.tab_tabbar td.tab_active_tab {
	border-width: 0px 1px 0px 0px;
	border-color: #FFFFFF;
	background-color: #3B73B9;
	color: #FFFFF;
	padding: 5px 10px 5px 10px;
}

.tab_active_tab a, .tab_active_tab a:visited {
	color: #006f96;
}

.tab_active_tab a:hover {
	color: #FFFFFF;
}

td.tab_inactive_tab {
	border-width: 0px 1px 0px 0px;
	border-color: #3B73B9;
	color: #FFFFFF;
	padding: 5px 10px 5px 10px;
}

table.tab_tabbar .tab_inactive_tab.hover {
	background-color: #FFFFFF;
}

table.tab_tabbar .tab_inactive_tab.no_hover {
	background-color: #3B73B9;
}

.tab_inactive_tab a, .tab_inactive_tab a:visited {
	color: #3B73B9;
}

.tab_inactive_tab a:hover {
	color: #FFFFFF;
}

td.navigation {
	background-color: #9ECEFF;
	white-space: nowrap;
}

div.navigation {
	margin: 0px 0px 0px 10px;
	background-color: #9ECEFF;
	border-color: #0000FF;
	padding: 20px 0px 20px 10px;
}

.navigation_no_hover {
	background-color: #9ECEFF;
	color: #FFFFFF;
}

.navigation_hover {
	background-color: #9ECEFF;
	color: #006f96;
}

.navigation_main_item {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-size: 0.95em;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFFFFF;
	color: #006F96;
	border-color:  #0000FF;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	padding: 5px 5px 5px 10px;
}

.navigation_sub_item {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	font-size: 0.95em;
	background-color: #9ECEFF;
	border-color: #0000FF;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	padding: 5px 5px 5px 25px;
}

th.artefact {
	background-color: #9ECEFF;
	margin-bottom: 10px;
	border-width: 1px;
	border-color: grey;
	color: #FFFFFF;
}

th.artefact .infotable {
	background-color: #EBEBEB;
}

td.artefact {
	background-color: #FFFFFF;
	border: none;
	padding: 10px 0px 0px 0px;
}

table.infobox {
	background-color: #FFFFFF;
}

th.infobox {
	background-color: #9ECEFF;
	margin: 3px;
	padding: 3px;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
}

td.infobox {
	background-color: #EBEBEB;
	padding: 10px;
}

table.infotable {
	background-color: #EBEBEB;
	border-color: #FFFFFF;
	border-width: 1px;
}

.heading {
	color: #006F96;
    background-color: #9ECEFF;
    text-align: justify;
    margin: 3px;
    padding: 5px 3px 5px 3px;
}

.infoheading {
	border-color: #FFFFFF;
	border-width: 1px;
	padding: 5px;
	color: #006F96;
	background-color: #FFFFFF;
}

.infosubheading {
	border-color: #FFFFFF;
	border-width: 1px;
}

.infonarrative {
	border-color: #FFFFFF;
	border-width: 1px;
}

.infolabel {
	border-color: #FFFFFF;
	border-width: 1px;
	color: #006f96;
}

.infodata {
	border-color: #FFFFFF;
	border-width: 1px;
}

.questionlabel {
	border-color: #FFFFFF;
	border-width: 1px;
	color: #006f96;
}

.questiondata {
	border-color: #FFFFFF;
	border-width: 1px;
}

.infobutton {
	background-color: #EBEBEB;
	border-color: #FFFFFF;
	border-width: 1px;
}

table.actionbox {
	border-style: none;
}

td.actionbox {
	background-color: #FFFFFF;
	padding: 2px 2px 2px 2px;
}

input.actionbutton {
	border: none;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	padding: 1px;
	margin: 0px 3px 0px 0px;
	color: #006F96;
	background-color: #FFFFFF;
}

input.inlinebutton {
	font-weight: normal;
	color: #006F96;
	padding: 1px;
}

input.partnerbutton {
	color: #006F96;
}

table.pager {
	border-width: 0px;
	border-color: #FFFFFF;
	background-color: #BBD6E5;
}

table.pager4 {
	border-width: 0px;
	border-color: #FFFFFF;
	background-color: #BBD6E5;
    table-layout: fixed;
}

th.sorted , th.sortable	 {
	border-color: #BBD6E5;
	background-color: #FFFFFF;
	color: #006f96;
	border-width: 1px;
}

td.pager {
	padding: 5px;
	border-width: 0px 1px 1px 1px;
	border-color: #FFFFFF;
	background-color: #ebebeb;
}
td.pager4 {
	padding: 5px;
	border-width: 0px 1px 1px 1px;
	border-color: #FFFFFF;
	background-color: #ebebeb;
    width:25%;
}

tr.even {
	background-color: #FFFFFF;
}

tr.odd {
	background-color: #FFFFFF;
}

table.crosstabtable {
}

td.crosstabaxisheader {
      border-collapse: collapse;
	background-color: #BBD6E5;
}

td.crosstabcolumntitle {
	background-color: #BBD6E5;
	border-collapse: collapse;
	color: black;
}

td.crosstabrowtitle {
	border-collapse: collapse;
	background-color: #BBD6E5;
	color: black;
}

td.crosstabcolumnheader {
	background-color: #BBD6E5;
}

td.crosstabrowheader {
	color: black;
	background-color: #BBD6E5;
}

td.crosstabdata {
	height:100%;
	vertical-align: top;
	padding: 10px;
	text-align: center;
	border-color: #BBD6E5;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
}

td.columnheader {
	background-color: white;
	color: #006F96;
	border-color: #FFFFFF;
	border-width: 1px;
}

.group td {
	border-bottom: 0px;
        background-color: #BBD6E5;
}

/********************************************************************************/

/* General Tab controls */

/* Main area containing tabs */

table.tab_tabbar {
	width: 100%;
	border: none;
	padding: 0px;
}

.tab_tabbar td {
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #006f96;
	padding: 0px;
}

/* Space to the left of tabs */

td.tab_tabbar_left {
}

img.tab_tabbar_left {
	width: 15px;
}

/* Space between tabs */

td.tab_tabbar_space {
}

img.tab_tabbar_space {
	width: 5px;
}

/* Space to the right of tabs */

td.tab_tabbar_right {
	width: 100%;
}

/* Body of tab containing text */

td.tab_tab {
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	padding: 3px 6px 3px 6px;
	border-style: solid;
	border-color: #006F96;
	color: #006F96;
}

table.tab_tabbar td.tab_active_tab {
	border-width: 1px 1px 0px 1px;
	background-color: #FFFFFF;
        border-color: #006F96;
}

.tab_active_tab a, .tab_active_tab a:active, .tab_active_tab a:visited, .tab_active_tab a:hover {
	text-decoration: none;
	color: #006F96;
	cursor: text;
}

td.tab_inactive_tab {
	border-width: 1px 1px 1px 1px;
}

table.tab_tabbar .tab_inactive_tab.hover {
	background-color: #FFFFFF;
}

table.tab_tabbar .tab_inactive_tab.no_hover {
	background-color: #BBD6E5;
}

.tab_inactive_tab a, .tab_inactive_tab a:visited {
	color: #006F96;
	text-decoration: none;
}

.tab_inactive_tab a:hover {
	color: #006F96;
}

/* Surround of the tab page */

table.tab_page_border {
	width: 100%;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #006f96;
}

td.tab_page_border {
	padding: 0px;
}

/* The actual tab page */

table.tab_page {
	width: 100%;
}

td.tab_page {
	width: 100%;
	padding: 5px;
	background-color: #FFFFFF;
}

tr.popupTitle {
	background-color: #B1C2CA;
}

/********************************************************************************/

/* Main content area */

td.content {	
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	vertical-align: top;
    padding: 20px 5px 5px 10px;
}

td.content#nonav {
	border-width: 0px 0px 0px 0px;
	vertical-align: middle;
	text-align: center;
}

td.homecontent {
    vertical-align: top;
    border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #FFFFFF;
	padding: 20px 5px 5px 10px;
}

/********************************************************************************/

.infomessage {
	font-weight: bold;
	color: #006F96;
	margin: 0px 0px 5px 0px;
	padding: 5px 5px 5px 5px;
	border: solid 1px white;
	background-color: #EBEBEB;
}

legend {
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	color:#FFFFFF;
}

textarea {
	width: 100%;
	/*height: 150px;*/
}

.input_number {width: 50;}
.input_text {width: 40;}

td (padding: 1px 1px 1px 1px;}

/*.header-left {
    margin: 0;
    margin-left: 5px;
    height: 80px;
    width: 315px;
    background-repeat: no-repeat;
    /*background-image: url( ../images/zynap_logo.gif );*/
    background-image: url( ../images/logo_50_percent.jpg );
}

.header-right {
    height: 80px;
    width: 309px;
    background-repeat: no-repeat;
    background-image: url( ../images/logo_50_percent.jpg );
}*/

/* front logo to go in main after re-branding */
.header-left {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5px;
    height: 120px;
    width: 387px;
    background-repeat: no-repeat;
    background-image: url( ../images/TStudio.png );
}

.header-right {
    background-image: url( ../images/logo.gif );
    height: 101px;
    width: 309px;
    background-repeat: no-repeat;
    background-position: 100% 0;
}


