To ${user.label}

Your password is ${password}. The password is case sensitive.

#if ($url && $url != "") 
Please click to go to login ${url} 
#end

Sent on behalf of
TalentEvolution Admin.

[Note: This is an automated reply sent from Talent Studio, please do not respond]